/* @import '../../scss/fonts.scss'; */

.psnBlock {
  height: 53px;
}

.woman,
.man {
  margin: 2px 5px;
  border: 1px solid teal;
  justify-content: space-between;
  width: calc(100vw -10px);
}
.man {
  background-color: rgb(207, 217, 235);
}
.woman {
  background-color: rgb(245, 210, 215);
}

.psnPhoto {
  position: relative;
  display: inline-block;
  width: 41px;
  border: 1px solid whitesmoke;
  margin-top: 2px;
  margin-left: 5px;
}
.psnPhoto:hover {
  border: 1px solid blueviolet;
  cursor: pointer;
}
.persondata {
  display: inline-block;
  max-width: 400px;
  width: calc(90vw - 70px);
  vertical-align: initial;
  margin-left: 5px;
  font-family: var(--font-roboto-reg);
  font-size: small;
}
img {
  vertical-align:initial;
}
.psnBtnGoto {
  display: inline-block;
}

@media screen and (min-width: 960px) {
  .man,
  .woman {
    width: 950px;
    height: 53px;
    margin-left: auto;
    margin-right: auto;
  }

  .persondata {
    max-width: 850px;
    width: 850px;
    height: 53px;
    margin-left: 10px;
    font-size: medium;
  }
  img {
    vertical-align: initial;
  }

}
