/* @import '../scss/fonts.scss'; */

.personForm {
  width: vw100;
}
.personSelector {
  display: none;
}
.rltSubHeader {
  margin-left: 120px;
}

.profession,
.profile,
.rltcontent,
.birthplace {
  border: 2px solid teal;
}
.profession,
.profile {
  margin-left: 5px;
  width: calc(100vw - 10px);
  padding: 10px;
}
.birthplace {
  margin-left: 5px;
  margin-bottom: 5px;
  width: calc(100vw - 10px);
  padding-left: 10px;
}

.placeImg {
  width: 170px;
  height: 170px;
  margin: 10px auto;
  background-size: cover;
  overflow: hidden;
  border: 1px solid teal;
}
.dateIn {
  margin-left: 5px;
  padding-left: 5px;
  text-align: center;
  width: 140px;
}

.label_datein {
  margin-left: 5px;
}

@media screen and (min-width: 960px) {
  
  .psn_longname {
    width: 800px;
  }
  .placeImg {
    width: 200px;
    height: 230px;
    float: left;
    margin: 0 10px 10px 10px;
  }
  .birthplace {
    margin-bottom: 10px;
    margin-left: 5px;
    border-color: teal;
    width: 600px;
  }
  .profession {
    width: 600px;
    height: 55px;
    padding: 3px 10px;
    overflow: hidden;
  }
  .profile {
    width: 600px;
    height: 105px;
    padding: 10px;
    margin-bottom: 20px;
  }
  .buttonarea {
    margin-left: 20px;
    width: 800px;
  }

  .appBtn {
    display: inline-block;
  }
  .rltcontent {
    width: 800px;
    height: auto;
    margin: 0 20px;
  }

  .personSelector {
    /* display: none; */
    position: absolute;
    top: 100px;
    right: 5px;
    width: 350px;
  }
  .minicard {
    display: flex;
    align-items: center;
    margin-left: 200px;
  }
  .label_datein {
    margin-left: 5px;
  }
  .appBtnGoBack {
    margin-left: 50px;
  }
}
